$color-main: #0C1033; /*Color Principal para la pagina*/
$color-grey: #D9D9D966;
$color-white: white;
$color-black: black;
$color-blue-green : #0077aa;
$color-blue-light : #81ddfe;
$color-blue-more-light : #8cc8e6;
$color-green-light : #d6edec;
$color-grey-dark : #333;
$color-blue-dark: #005588;
$color-red: #ff0000;
$color-blue-grey: #486f87;
$color-bone-white: #ccc;
$color-yellow: #f4c542;
$color-light-green: #45a049;
$color-dark-green: #3e8e41;
$color-light-brown: #888;
$color-blue: #007bff;
$color-dark-white: #ddd;
$color-less-dark-white: #f0f0f0;