@import '../../styles/mixins/media-quieries.scss';
@import '../../styles/variables/colors.scss';

.pie-pagina {
    .footer {
        position: static;
        bottom: 0;
        left: 0;
        right: 0;
        background: $color-main;
        height: 8%;
        width: auto;
        padding-top: 20px;
        color: $color-white;

        ul {
            list-style: none;
        }
    }
}