.ver-post-container {
  padding: 20px;

  h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333; /* Color del título */
  }

  .post {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    animation: fadeIn 0.5s ease-in-out forwards;
    background-color: #f9f9f9; /* Color de fondo del post */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra del post */

    h3 {
      font-size: 24px;
      margin-bottom: 10px;
      color: #007bff; /* Color del título del post */
      text-align: center;
    }

    p {
      font-size: 16px;
      color: #555; /* Color del texto del post */
    }
    .p-Autor{
      font-size: 16px;
      color: #000000; /* Color del texto del post */
      font-weight: bold;
      text-align: right;
    }
    .button-container {
      display: flex;
      justify-content: flex-end; /* Coloca los botones al lado derecho */
      margin-top: 10px;

      button {
        margin-left: 5px; /* Agrega espacio entre los botones */
      }
    }
    .comment-section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 10px;

      .comment-textarea {
        width: 100%; /* Ancho del 100% para adaptarse al contenedor */
        border: 1px solid #ccc;
        padding: 8px;
        font-size: 14px;
        resize: vertical; /* Permitir redimensionamiento vertical */

        @media (max-width: 768px) {
          font-size: 12px; /* Reducir el tamaño de fuente en pantallas más pequeñas */
        }
      }
    }
    .title-input,
  .body-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    resize: vertical;
    box-sizing: border-box;
    // Otros estilos necesarios para el input y textarea en modo edición
  }
  }
}
.comment-with-user {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

  .comment {
    margin-bottom: 5px;
    font-size: 14px;
  }

  .username {
    font-size: 12px;
    font-style: italic;
    color: #666;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
