/* styles.css */
.formContainer {
    max-width: 400px;
    margin: 0 auto;
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 5px;
  }
  
  .formField {
    margin-bottom: 10px;
  }
  .formFieldTitulo {
    text-align: center;
    font-size: 2rem;
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: "Arial, sans-serif";
    font-weight: bold;
    letter-spacing: 1px;
  }
  .inputField {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .buttonContainer {
    display: flex; /* Utiliza flexbox para colocar los botones en fila */
    justify-content: space-between; /* Agrega espacio entre los botones */
}

.buttonContainer button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submitButton {
    background-color: #3498db;
    color: #fff;
    margin-right: 10px; /* Margen entre el primer y segundo botón */
}

.submitButtonSalir {
    background-color: #e84427d8;
    color: #fff;
    margin-right: 10px; /* Margen entre el segundo y tercer botón */
}

.submitButtonMostrarPost {
    background-color: #2ecc71;
    color: #fff;
}
